<a href="/"><h1>READY FOR SEOUL</h1></a>

<h1>qna detail</h1>
<h3><%= id %>th question </h3>
<h3><%= qna.title %></h3>

<%= qna.text %>
<%= qna.inserted %>


<a href="/qna/<%= qna.id %>/delete">삭제</a>
